<div class="grid">
  <div class="form">
    <div class="border">
      <div class="info">
        <div class="adresse">
          <p><%= t('global.info.address') %></p>
        </div>
        <div class="time-date">
          <p><%= t('global.info.date') %></p>
        </div>
        <div class="event-home">
          <p><%= t('global.info.four') %></p>
          <p><%= t('global.info.welcome') %></p>
        </div>
        <div class="event-left">
          <p><%= t('global.info.five') %></p>
          <p><%= t('global.info.ceremony') %></p>
        </div>
        <div class="event-left">
          <p><%= t('global.info.six') %></p>
          <p><%= t('global.info.cocktail') %></p>
        </div>
        <div class="event-left">
          <p><%= t('global.info.eight') %></p>
          <p><%= t('global.info.dance') %></p>
        </div>
        <br>
        <div class="event-left">
          <p></p>
          <p style='font-weight:500;'>Dress Code: <%= t('global.info.code') %></p>
        </div>
        <div class="time-date">
          <p><%= t('global.info.date1') %></p>
        </div>
        <div class="event-left">
          <p><%= t('global.info.twelve') %></p>
          <p><%= t('global.info.brunch') %></p>
        </div>
        <br>
        <div class="event-home-special">
          <p></p>
          <p style='margin-bottom: 0px;'>Dress Code: <%= t('global.info.dress') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="photo">
    <div class="olivetree right">
      <p><%= link_to t('global.wedding.marriage'), '/' %></p>
      <%= image_tag 'door.png', class:'olive' %>
    </div>
  </div>
</div>
