<div class="grid">
  <div class="form">
    <div class="border">
      <div class="info">
        <div class="adresse">
          <p><%= t('global.info.address') %></p>
        </div>
        <div class="time">
          <p><%= t('global.info.date') %></p>
        </div>
        <div class="event">
          <p><%= t('global.info.five') %></p>
          <p><%= t('global.info.ceremony') %></p>
        </div>
        <div class="event">
          <p><%= t('global.info.six') %></p>
          <p><%= t('global.info.cocktail') %></p>
        </div>
        <div class="event">
          <p><%= t('global.info.eight') %></p>
          <p><%= t('global.info.dance') %></p>
        </div>
        <div class="dress">
          <p><%= t('global.info.code') %></p>
        </div>
        <div class="time">
          <p><%= t('global.info.date1') %></p>
        </div>
        <div class="event">
          <p><%= t('global.info.twelve') %></p>
          <p><%= t('global.info.brunch') %></p>
        </div>
        <div class="dress dress2">
          <p><%= t('global.info.dress') %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="photo">
    <div class="olivetree">
      <p><%= t('global.wedding.marriage') %></p>
      <%= image_tag 'olivetree.jpg', class:'olive' %>
    </div>
  </div>
</div>
