<div class="grid">
  <div class="form">
    <div class="border">
      <div class="info">
        <div class="adresse">
          <p><%= t('global.events.header') %></p>
        </div>
        <div class="time">
          <p><%= t('global.events.direction') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.car') %></p>
          <p class='train train1'><%= t('global.events.car1') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.train') %></p>
          <p class='train'><%= t('global.events.train1') %><%= t('global.events.taxi') %></p>
        </div>
        <div class="time">
          <p style="margin-bottom:0px;"><%= t('global.events.stay') %></p>
        </div>
        <div class="dress">
          <p><%= t('global.events.Recommend') %></p>
          <ul>
            <li><%= t('global.events.hotel1') %></li>
            <li><%= t('global.events.hotel2') %></li>
            <li><%= t('global.events.hotel3') %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="photo">
    <div class="olivetree">
      <p style='border-bottom: 1px solid black;'><%= t('global.wedding.marriage') %></p>
      <iframe width='100%' height='425px' src="https://api.mapbox.com/styles/v1/mar566/ckvwbtkxl3ghn14nma8dm5jia.html?title=false&access_token=pk.eyJ1IjoibWFyNTY2IiwiYSI6ImNrdnc5dmlseDA2YmEzMHI1cWI4azJ6eGwifQ.wRw1-ZIj5m0YUxKb-lwbYA&zoomwheel=false#10.6/46.7099/0.3206" title="Mariage Nour" style="border:none; "></iframe>
      <h4 style='border-top: 1px solid black; padding-top: 15px; margin-top: 10px;'><%= link_to 'Google Maps', "https://www.google.com/maps/place/Ch%C3%A2teau+des+Roches,+86380+Saint-Martin-la-Pallu/@46.7284917,0.310844,17z/data=!3m1!4b1!4m5!3m4!1s0x47fd98a203ba7d1b:0xe19714a1e443908b!8m2!3d46.728488!4d0.313038" %></h4>
    </div>
  </div>
</div>

<script>
var mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');

mapboxgl.accessToken = 'pk.eyJ1IjoibWFyNTY2IiwiYSI6ImNrdnc5dmlseDA2YmEzMHI1cWI4azJ6eGwifQ.wRw1-ZIj5m0YUxKb-lwbYA';
var map = new mapboxgl.Map({
container: 'YOUR_CONTAINER_ELEMENT_ID',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script>
