<div class="grid">
  <div class="photo">
    <div class="olivetree">
      <p><%= link_to t('global.wedding.marriage'), '/' %></p>
      <p style='font-size:26px;'><%= t('global.theday.wedding') %></p>
      <%= image_tag 'cherry.png', style:'height:400px; width: 100%; object-fit:contain;' %>
    </div>
  </div>
  <div class="form">
    <div class="border">
      <div class="info">
        <div class="adresse">
          <p><%= t('global.info.address') %></p>
        </div>
        <div class="time">
          <p><%= t('global.theday.venue') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.car') %></p>
          <p><a href='https://www.google.com/maps/place/Ch%C3%A2teau+des+Roches,+86380+Saint-Martin-la-Pallu/@46.7284917,0.310844,17z/data=!3m1!4b1!4m5!3m4!1s0x47fd98a203ba7d1b:0xe19714a1e443908b!8m2!3d46.728488!4d0.313038' style='color:black;'><%= t('global.theday.follow') %></a> <%= t('global.theday.parking') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.taxi1') %></p>
          <p><%= t('global.theday.taxi_html') %></p>
        </div>
        <div class="dress home">
          <p><%= t('global.theday.home_html') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
