<div class="grid">
  <div class="photo">
    <div class="olivetree">
      <p><%= t('global.wedding.marriage') %></p>
      <p style='font-size:26px;'><%= t('global.theday.wedding') %></p>
      <%= image_tag 'japan.jpeg' %>
    </div>
  </div>
  <div class="form">
    <div class="border">
      <div class="info">
        <div class="adresse">
          <p><%= t('global.info.address') %></p>
        </div>
        <div class="time">
          <p><%= t('global.theday.venue') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.car') %></p>
          <p><%= t('global.theday.parking') %></p>
        </div>
        <div class="event">
          <p><%= t('global.events.taxi1') %></p>
          <p><%= t('global.theday.taxi_html') %></p>
        </div>
        <div class="dress home">
          <p><%= t('global.theday.home_html') %></p>
        </div>
      </div>
    </div>
  </div>
</div>
